body {
  font-family: "Times", "Georgia", serif;
  display: grid;
  height: 100vh;
  padding: 0;
  margin: 0;
  grid-gap: 0;
  grid-template-areas:
    "header legend"
    "main   legend"
    "nav    nav";
  grid-template-columns: 1fr 0;
  grid-template-rows: 0 auto max-content;
  color: rgba(0, 0, 0, 0.7);
}

#creator {
  position: absolute;
  left: 2em;
  bottom: 5em;
  font-family: sans-serif;
  font-size: small;
}

#creator a {
  color: black;
}

@media only screen and (min-width: 500px) {
  body {
    grid-template-areas:
      "header legend"
      "main   legend"
      "nav    nav";
    grid-template-columns: 1fr auto;
    grid-template-rows: 0 auto max-content;
  }
}

@media only screen and (min-width: 700px) {
  body {
    grid-template-areas:
      "nav header legend"
      "nav main   legend";
    grid-template-columns: max-content 1fr auto;
    grid-template-rows: 0 auto;
  }

  #creator {
    bottom: 1rem;
    left: 4rem;
  }
}

main { grid-area: main; }

nav,
#legend {
  background-color: #eee;
}

#legend > .curve {
  height: 40px;
  line-height: 40px;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#legend > .curve:not(.selected):hover {
  background-color: white;
}

#legend > .curve > span.avatar {
  background-color: white;
  display: block;
  float: left;
  font-size: large;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: "Arial", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}

#legend > .curve.selected:hover > span.avatar {
  opacity: 0.5;
}

#legend > .curve:not(.selected):hover > span.avatar {
  background-color: #eee;
}

#legend > .curve > span.label {
  color: black;
}


h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 700px) {
  h1 { font-size: 3vw; }
  header { font-size: 2vw; }
}

nav {
  grid-area: nav;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 1;
  grid-template-columns: repeat(auto-fit, max-content);
  grid-template-areas: "help log normalize";
}

@media only screen and (min-width: 700px) {
  nav {
    padding-top: 1em;
    grid-template-rows: repeat(20, max-content);
    grid-template-columns: repeat(1, max-content);
    grid-template-areas:
      "help"
      "log"
      "normalize"
      "datasets";
  }
}

nav > div {
  margin: 5px;
  font-size: large;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-family: "Arial", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#help { grid-area: help; }
#log { grid-area: log; }
#normalize { grid-area: normalize; }
#datasets { grid-area: datasets; }

nav > div > div {
  border-radius: 1em;
  top: 6rem;
  display: block;
  font-family: "Times", "Georgia", serif;
  font-size: large;
  font-weight: normal;
  left: 7rem;
  padding: 0.5em 1em 0.5em 1em;
  position: absolute;
  text-align: left;
  visibility: hidden;
}

nav > div:hover {
  background-color: #cecef6;
}

nav > div:hover > div {
  background-color: #cecef6;
  visibility: visible;
}

@media only screen and (hover: none) {
  nav > div:hover {
    background-color: inherit;
  }

  nav > div:hover > div {
    background-color: inherit;
    visibility: hidden;
  }
}

#legend {
  grid-area: legend;
  margin: 0;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  width: 200px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fit, 50px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#legend svg {
  box-sizing: border-box;
  overflow: hidden;
  height: 50px;
  width: 200px;
  border: 0;
  margin: 0;
  padding: 0;
}

.center-screen {
  height: 99%;
  overflow: hidden;
  width: 100%;
}

.loading-animation {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -56px;
  margin-left: -56px;
}

.loading .loading-animation {
  display: block;
}

#tooltip {
  position: fixed;
  z-index: 10;
  visibility: hidden;
  background: #dd0;
  font-size: large;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 10px;
}
