body.color-scheme-light {
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
}

body.color-scheme-light div.button > div,
body.color-scheme-light #creator a,
body.color-scheme-light #legend > .choices > .curve > span.label {
  color: black;
}

body.color-scheme-light div.button.disabled {
  color: #ddd;
}

body.color-scheme-light #legend > .choices > .curve:not(.selected):hover,
body.color-scheme-light #legend > .choices > .curve > span.avatar {
  background-color: white;
}

body.color-scheme-light div.button.list,
body.color-scheme-light #legend > .choices > .curve.selected > span.avatar {
  color: white;
}

body.color-scheme-light nav,
body.color-scheme-light #legend,
body.color-scheme-light div.button.disabled,
body.color-scheme-light #legend > .choices > .curve:not(.selected):hover > span.avatar {
  background-color: #eee;
}

body.color-scheme-light div.button.toggled {
  background-color: #ddd;
}

body.color-scheme-light div.button:not(.disabled):hover {
  background-color: #cecef6;
}

body.color-scheme-light div.button.list {
  background-color: #777;
}

body.color-scheme-light #tooltip,
body.color-scheme-light div.button > div {
  border-color: #777;
  background-color: #dd0;
}

body.color-scheme-dark {
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
}

body.color-scheme-dark div.button > div,
body.color-scheme-dark #creator a,
body.color-scheme-dark #legend > .choices > .curve > span.label {
  color: white;
}

body.color-scheme-dark nav,
body.color-scheme-dark #legend,
body.color-scheme-dark div.button.disabled,
body.color-scheme-dark #legend > .choices > .curve:not(.selected):hover > span.avatar {
  background-color: #111;
}

body.color-scheme-dark #legend > .choices > .curve:not(.selected):hover,
body.color-scheme-dark #legend > .choices > .curve > span.avatar {
  background-color: black;
}

body.color-scheme-dark div.button:not(.disabled):hover {
  background-color: #313109;
}

body.color-scheme-dark div.button.list {
  background-color: #888;
}

body.color-scheme-dark div.button.disabled {
  color: #222;
}

body.color-scheme-dark #search {
  color: #ccc;
  background-color: #333;
}

body.color-scheme-dark div.button.toggled {
  background-color: #222;
}

body.color-scheme-dark #tooltip,
body.color-scheme-dark div.button > div {
  background-color: #220;
}
