body {
  color: rgba(0, 0, 0, 0.7);
  display: grid;
  font-family: "Times", "Georgia", serif;
  grid-gap: 0;
  grid-template-areas:
    "header legend"
    "main   legend"
    "nav    nav";
  grid-template-columns: 1fr 0;
  grid-template-rows: 0 auto max-content;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#creator {
  bottom: 5em;
  font-family: sans-serif;
  font-size: small;
  left: 2em;
  position: absolute;
}

#creator a {
  color: black;
}

@media only screen and (min-width: 500px) {
  body {
    grid-template-areas:
      "header legend"
      "main   legend"
      "nav    nav";
    grid-template-columns: 1fr auto;
    grid-template-rows: 0 auto max-content;
  }
}

@media only screen and (min-width: 700px) {
  body {
    grid-template-areas:
      "nav header legend"
      "nav main   legend";
    grid-template-columns: max-content 1fr auto;
    grid-template-rows: 0 auto;
  }

  #creator {
    bottom: 1rem;
    left: 4rem;
  }
}

header { grid-area: header; }

main { grid-area: main; }

nav,
#legend {
  background-color: #eee;
}

#legend {
  grid-area: legend;
  width: 200px;
}

#legend > .choices {
  box-sizing: border-box;
  grid-area: choices;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 5px;
  width: 200px;
}

#legend > .choices > .curve {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#legend > .choices > .curve:not(.selected):hover {
  background-color: white;
}

#legend > .choices > .curve > span.avatar {
  background-color: white;
  border-radius: 20px;
  display: block;
  float: left;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
}

#legend > .choices > .curve.selected > span.avatar {
  color: white;
}

#legend > .choices > .curve.selected:hover > span.avatar {
  opacity: 0.5;
}

#legend > .choices > .curve:not(.selected):hover > span.avatar {
  background-color: #eee;
}

#legend > .choices > .curve > span.label {
  color: black;
  font-family: sans-serif;
}

/*
#legend > .choices > .curve.selected > span.label {
  font-weight: bold;
}
*/

#legend > .search {
  grid-area: search;
  padding: 10px;
}

#search {
  border: none;
  box-sizing: border-box;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  width: 180px; /* 200 - 2 * 10 */
}

h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 700px) {
  h1 { font-size: 3vw; }
  header { font-size: 2vw; }
}

nav {
  display: grid;
  grid-area: nav;
  grid-gap: 0;
  grid-template-areas: "help log normalize datasets align";
  grid-template-columns: repeat(auto-fit, max-content);
  grid-template-rows: 1;
}

@media only screen and (min-width: 700px) {
  nav {
    grid-template-areas:
      "help"
      "log"
      "normalize"
      "datasets"
      "align";
    grid-template-columns: repeat(1, max-content);
    grid-template-rows: repeat(20, max-content);
    padding-top: 1em;
  }
}

nav > div {
  border-radius: 20px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: large;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
}

#help { grid-area: help; }
#log { grid-area: log; }
#normalize { grid-area: normalize; }
#datasets { grid-area: datasets; }
#align { grid-area: align; }

nav > div > div {
  border-radius: 1em;
  display: block;
  font-family: "Times", "Georgia", serif;
  font-size: large;
  font-weight: normal;
  left: 7rem;
  padding: 0.5em 1em 0.5em 1em;
  position: absolute;
  text-align: left;
  top: 6rem;
  visibility: hidden;
}

nav > div:hover {
  background-color: #cecef6;
}

nav > div:hover > div {
  background-color: #cecef6;
  visibility: visible;
}

@media only screen and (hover: none) {
  nav > div:hover {
    background-color: inherit;
  }

  nav > div:hover > div {
    background-color: inherit;
    visibility: hidden;
  }
}

.center-screen {
  height: 99%;
  overflow: hidden;
  width: 100%;
}

.loading-animation {
  display: none;
  left: 50%;
  margin-left: -56px;
  margin-top: -56px;
  position: absolute;
  top: 50%;
}

.loading .loading-animation {
  display: block;
}

#tooltip {
  background: #dd0;
  border: 2px solid;
  border-radius: 10px;
  font-size: large;
  padding: 0.5rem;
  position: fixed;
  visibility: hidden;
  z-index: 10;
}
